<template>
  <div class="block" :class="blockType" :style="blockStyle" :ref="'block'">
    {{ weight }}
  </div>
</template>

<script>
export default {
  name: "Block",
  props: {
    type: {
      type: Number,
      required: true,
    },
    weight: {
      type: Number,
      required: true,
    },
    offset: {
      type: Number,
      required: true,
    },
    rightSide: {
      type: Boolean,
    },
    top: {
      type: Number,
    },
    paused: {
      type: Boolean
    }
  },
  data() {
    return {}
  },
  computed: {
    blockType() {
      let blockType
      const { type } = this
      switch (type) {
        case 0:
          blockType = "block-circle"
          break
        case 1:
          blockType = "block-rectangle"
          break
        case 2:
          blockType = "block-triangle"
          break
      }
      return blockType
    },
    blockStyle() {
      const { rightSide, top, type, weight, offset } = this
      const side = rightSide ? "right" : "left"
      const topOffset = top || 0
      let sideOffset
      switch (offset) {
        case 1:
          sideOffset = 0
          break
        case 2:
          sideOffset = 20
          break
        case 3:
          sideOffset = 40
          break
        case 4:
          sideOffset = 60
          break
        case 5:
          sideOffset = 80
          break
      }
      const blockSize =
        type !== 2
          ? {
              height: `${weight * 10}px`,
              width: `${weight * 10}px`,
              lineHeight: `${weight * 10}px`,
            }
          : {
              borderWidth: `0 ${weight * 7}px ${weight * 10}px ${weight * 7}px`,
              lineHeight: `${weight * 10}px`,
            };
      const styles = { ...blockSize }
      styles.top = `${topOffset}px`
      styles[side] = `${sideOffset}%`

      return styles
    },
  },
  methods: {
    getBlockBottomCoord() {
      const block = this.$refs.block
      return block.getBoundingClientRect().bottom
    },
  },
};
</script>

<style lang="scss" scoped>
.block {
  display: block;
  position: absolute;
  text-align: center;
  transform: translate(0, -100%);

  &-rectangle {
    background-color: yellow;
  }

  &-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent blue transparent;
  }

  &-circle {
    background-color: green;
    border-radius: 50%;
  }
}
</style>