<template>
  <div class="blocks-area">
    <div class="blocks-area-left">
      <div class="blocks-area-queue">
        <template v-if="nextLeftBlocks.length > 0">
          <FallingBlock
            v-for="(block, index) of nextLeftBlocks"
            :index="index"
            :timeOut="timeOut"
            :type="block.type"
            :weight="block.weight"
            :offset="block.offset"
            :key="index"
            @finished-falling="onReachedBottom"
          />
        </template>
      </div>
    </div>
    <div class="blocks-area-right">
      <div class="blocks-area-queue">
        <template v-if="nextRightBlocks.length > 0">
          <Block
            v-for="(block, index) of nextRightBlocks"
            :key="index"
            :type="block.type"
            :weight="block.weight"
            :offset="block.offset"
            :rightSide="true"
            :top="block.weight * 10"
          />
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import Block from "@/components/Block";
import FallingBlock from "@/components/FallingBlock";
import { mapMutations } from "vuex";
export default {
  name: "BlocksArea",
  components: { FallingBlock, Block },
  data() {
    return {
      timeOut: 300,
      iteration: 0,
    };
  },
  computed: {
    nextLeftBlocks() {
      return this.$store.state.nextLeftBlocks;
    },
    nextRightBlocks() {
      return this.$store.state.nextRightBlocks;
    },
  },
  methods: {
    ...mapMutations({
      setNextLeftBlocks: "setNextLeftBlocks",
      setNextRightBlocks: "setNextRightBlocks",
      toLeft: "toLeft",
      toRight: "toRight",
    }),
    onKeyDown(ev) {
      if (ev.keyCode === 37) this.toLeft();
      if (ev.keyCode === 39) this.toRight();
    },
    onReachedBottom() {
      this.iteration++;
      if (this.iteration === 5) {
        this.timeOut -= 20;
        this.iteration = 0;
      }
    },
  },
  mounted() {
    this.setNextLeftBlocks();
    this.setNextRightBlocks();
    window.addEventListener("keydown", this.onKeyDown);
  },
  beforeUnmount() {
    window.removeEventListener("keydown", this.onKeyDown);
  },
};
</script>

<style lang="scss" scoped>
.blocks-area {
  width: 100%;
  height: calc(100% - 200px);
  display: flex;
  position: relative;

  &-left,
  &-right {
    width: 50%;
    height: 100%;
    position: relative;
  }

  &-queue {
    width: 100%;
    height: 100px;
    position: relative;
    border-bottom: 1px solid gray;
  }
}
</style>