<template>
  <div class="falling-block">
    <Block
      :type="type"
      :weight="weight"
      :offset="offset"
      :top="blockTop"
      :ref="'block'"
      :paused="isPaused"
    />
  </div>
</template>

<script>
import Block from "@/components/Block"
export default {
  name: "FallingBlock",
  components: { Block },
  props: {
    type: {
      type: Number,
      required: true,
    },
    weight: {
      type: Number,
      required: true,
    },
    offset: {
      type: Number,
      required: true,
    },
    top: {
      type: Number,
    },
    timeOut: {
      type: Number,
    },
    index: {
      type: Number,
    },
    paused: {
      type: Boolean,
    },
  },
  data() {
    return {
      blockBottom: 0,
      blockTop: this.weight * 10,
      timer: 0,
    };
  },
  computed: {
    isPaused() {
      return this.$store.state.paused
    },
    inclineDegree() {
      return this.$store.getters.inclineDegree
    },
    blockFinalPosition() {
      const { top, bottom } = this.getTeeterCoords()
      return this.inclineDegree >= 0
        ? top + ((bottom - top) / 2) * (1 - this.offset / 5)
        : bottom - ((bottom - top) / 2) * (1 - this.offset / 5)
    },
  },
  methods: {
    getTeeterCoords() {
      const { top, bottom } = document
        .querySelector(".teeter")
        .getBoundingClientRect()
      return {
        top,
        bottom,
      };
    },
    incrementBlockDropboxTop() {
      this.blockTop += 20
    },
  },
  updated() {
    if (this.isPaused) return clearTimeout(this.timer)
    if (this.index !== 0) return

    this.blockBottom = this.$refs.block.getBlockBottomCoord()
    this.timer = setTimeout(() => {
      if (this.blockBottom >= this.blockFinalPosition - 10) {
        clearTimeout(this.timer)
        this.$store.dispatch("reachedBottom")
        this.$emit("finished-falling")
        this.blockTop = this.weight * 10
        return
      }
      this.incrementBlockDropboxTop()
    }, this.timeOut)
  },
};
</script>

<style lang="scss" scoped>
.blocks-area {
  width: 50%;
  height: calc(100% - 200px);
  position: relative;
}
</style>