<template>
    <header class="header">
        <div class="score">
            <div>Left Side Total Weight:</div>
            <div>{{sumLeft}} KG</div>
        </div>
        <div class="button">
            <button class="btn" @click="togglePaused()">
                <span class="btn-icon btn-play" v-if="paused"></span>
                <span class="btn-icon btn-pause" v-else></span>
            </button>
        </div>
        <div class="score">
            <div>Right Side Total Weight:</div>
            <div>{{sumRight}} KG</div>
        </div>
    </header>
</template>

<script>
export default {
    name: "Header",
    computed: {
        paused() {
          return this.$store.state.paused
        },
        sumLeft() {
          return this.$store.getters.sumLeft
        },
        sumRight() {
          return this.$store.getters.sumRight
        }
    },
    methods: {
        togglePaused() {
            this.$store.commit('togglePaused');
        }
    }
}
</script>

<style lang="scss" scoped>
.header {
    width: 100%;
    height: 100px;
    display: flex;
    background: linear-gradient(to right, #8360c3, #2ebf91);
}

.score {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}

.button {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 90px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-play {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 30px;
        border-color: transparent transparent transparent #007bff;
    }

    &-pause {
        width: 6px;
        height: 30px;
        border-right: 12px solid #007bff;
        border-left: 12px solid #007bff;
    }
}

</style>