<template>
  <main class="play-ground">
    <BlocksArea />
    <TeeterTotter />
  </main>
</template>

<script>
import BlocksArea from "@/components/BlocksArea";
import TeeterTotter from "@/components/TeeterTotter";
export default {
  name: "PlayGround",
  components: {
    BlocksArea,
    TeeterTotter,
  },
};
</script>

<style lang="scss" scoped>
.play-ground {
  width: 80%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  position: relative;
}
</style>