<template>
  <div class="teeter" :style="teeterStyle">
    <div class="teeter-blocks">
      <div class="block-left">
        <template v-if="leftBlocks.length > 0">
          <Block
            v-for="(block, index) in leftBlocks"
            :key="index"
            :type="block.type"
            :weight="block.weight"
            :offset="block.offset"
          />
        </template>
      </div>
      <div class="block-right">
        <template v-if="rightBlocks.length > 0">
          <Block
            v-for="(block, index) in rightBlocks"
            :key="index"
            :type="block.type"
            :weight="block.weight"
            :offset="block.offset"
            :rightSide="true"
          />
        </template>
      </div>
    </div>
    <teleport to="body">
      <div v-if="gameOver" class="modal">
        <div>
          <h1>Game Over</h1>
          <button @click="$store.dispatch('start')">
            Play Again
          </button>
        </div>
      </div>
    </teleport>
  </div>
</template>

<script>
import Block from "@/components/Block";
export default {
  name: "Teeter",
  components: {
    Block,
  },
  computed: {
    teeterStyle() {
      return { transform: `rotate(${this.inclineDegree/2}deg)` };
    },
    leftBlocks() {
      return this.$store.state.leftBlocks;
    },
    rightBlocks() {
      return this.$store.state.rightBlocks;
    },
    inclineDegree() {
      return this.$store.getters.inclineDegree;
    },
    gameOver() {
      return this.$store.getters.gameOver
    }
  }
};
</script>

<style lang="scss" scoped>
.teeter {
  width: 100%;
  border-bottom: 10px solid #cc3744;
  position: relative;
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
}

.teeter-blocks {
  width: 100%;
  position: relative;
  display: flex;
}

.block-left {
  width: 50%;
  position: relative;
}
.block-right {
  width: 50%;
  position: relative;
}
.modal {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>