<template>
  <div class="teeter-totter">
    <Teeter />
    <TeeterBase />
  </div>
</template>

<script>
import Teeter from "@/components/Teeter";
import TeeterBase from "@/components/TeeterBase";
export default {
  name: "TeeterTotter",
  components: {
    Teeter,
    TeeterBase,
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.teeter-totter {
  width: 100%;
  position: relative;
}
</style>