<template>
  <div class="teeter-base"></div>
</template>

<script>
export default {
  name: "TeeterBase",
};
</script>

<style lang="scss" scoped>
.teeter-base {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 80px 190px 80px;
  border-color: transparent transparent #44576b transparent;
  margin: 0 auto;
}
</style>