<template>
    <Header />
    <PlayGround />
</template>

<script>
import Header from '@/components/Header'
import PlayGround from '@/components/PlayGround'

export default {
  name: 'App',
  computed: {
    test() {
      return this.$store.state.name
    }
  },
  components: {
    Header,
    PlayGround
  }
}
</script>

<style>
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin: 0;
}

</style>
